.subjects-list {
  display: flex;
  flex-direction: column;
 
}
.subjects-list  a {
    text-decoration: none;
  }
  .subjects-list .subject-list-item {
    width: 100%;
    display: flex;
    margin-top: 5px;}
    .subject-list-item > div {
      display: flex;
      padding: 10px;
      justify-content: center;
      align-items: flex-start;
      font-size: 2rem;
      color: var(--clr-primary-2);
    }
    .subject-list-item > div:nth-child(2){
      color: var(--clr-grey-7);
    }
    .subject-list-item span {
      font-size: 1.1rem;
    }
 